
/*
* 内外边距
*/

.pb-margin-t10{
  margin-top: 1rem;
}

.pb-margin-t5{
  margin-top: 5px;
}
.pb-padding-lr10{
  padding: 0 0.5rem;
}


/*
* 布局浮动
*/
.pb-float-right{
  float: right;
}
.pb-float-left{
  float: left;
}

/*
* 定位
*/
.pb-position{
  position: relative;
}
.pb-position-ab{
  position: absolute;
}
.pb-top-10{
  top: 10px;
}
.pb-left-10{
  left: 10px;
}

/*
* 宽高
*/
.pb-height-2{
  height: 2rem;
}
/*
* 清除a标签默认样式
*/
a{
  text-decoration: none;
  color: #58B7FF;
}
a:hover{
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
a:active{
  color: #1D8CE0;
}


